.contCategoryName {
    display: flex;
    justify-content: center;
    background-image: url('/public/img/bg3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.categoryName {
    color: #fff;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: bold;
}

.spanDivider {
    font-size: 25px;
}

.dividerAngle {
    font-size: 25px;
}